:root {
  --black: #1E1E1E;
  --black-input: #1E1E1E80;
  --white: #FFFFFF;
  --purple: #8F46D9;
  --lavender: #5753FF;
  font-size: 18px;
  font-family: 'Plus Jakarta Text';
}

.card-category{
  font-size: medium;
  opacity: 75%;

}
.card-title{
  font-size: xx-large;

}

.card-creator{
  font-size: medium;
}

.card-desc{
  font-size: small;
}

.group-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card-img{
  padding: 1.2rem;
}

  .card-box{
    display: flex;
    background: radial-gradient(99.53% 99.53% at 6.04% 9.12%, rgba(255, 255, 255, 0.37) 0%, rgba(255, 255, 255, 0.1) 100%) !important;
    border-radius: 40px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

  }

.view-button{
    /* padding: 14px 16px; */
    background-color: var(--white) !important;
    color: var(--lavender) !important;
    font-size: 12pt !important;
    border: 2px #5753FF solid;
    
}

.add-button{
    padding: 14px 16px;
      background-color: var(--lavender) !important;
      color: var(--white);
      border: none;
      border-radius: 10px;
      font-size: 12pt !important;
      margin: 1.2rem 0 2rem 0;
}

