:root {
    --black: #1E1E1E;
    --white: #FFFFFF;
    --purple: #8F46D9;
    --lavender: #5753FF;
    font-size: 18px;
}

/* tambahin '!important' buat timpal template bootstrapnya, misalnya ukuran/warna/card gitu */

body {
    color: var(--white)!important;
    /* ini gw set semua font defaultnya putih yaa buat info kalo di bg putih fontnya ga keliatan :D */
}

nav {
    background-color: var(--black)!important; 
    padding: 24px 100px !important;
}

.navbar-nav {
    gap: 20px;
}

#login-btn, #register-btn{ /* login sama register di navbar */
    background-color: var(--white);
    color: var(--lavender);
    padding: 16px 24px;
    font-weight: 800;
    border-radius: 8px;
}

#letsvote {
    /* semua yg button lets vote gw setnya gini yaa kalo pake idnya */
    background-color: var(--lavender);
    color: var(--white);
    padding: 16px 24px;
    font-weight: 800;
}

.home {
    display: flex;
    justify-content: center;
}

.hero {
    height:80vh !important;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 64pt !important;
    font-weight: 800 !important;
    color: #DFC1FE;
}

/* z-index biar pas layarnya kecil, ellipse nya ga nutup tulisannya */
.hero p {
    font-size: 24pt !important;
    z-index: 1;
}

#ellipse1 {
    position: absolute;
    width: 413.57px;
    height: 400px;
    left: -150px;
    top: 300px;
    z-index: -1;
}

#ellipse2 {
    position: absolute;
    width: 146.95px;
    height: 142.13px;
    left: 1100px;
    top: 200px;
    z-index: -1;
}

#triangle1 {
    position: absolute;
    width: 109px;
    height: 120px;
    left: 257.16px;
    top: 649px;
    z-index: -1;
}

#triangle2 {
    position: absolute;
    width: 670.53px;
    height: 713.02px;
    left: 1050px;
    top: 364px;
    z-index: -1;
}