:root {
    --black: #1E1E1E;
    --white: #FFFFFF;
    --purple: #8F46D9;
    --lavender: #5753FF;
    font-size: 18px;
}

/* tambahin '!important' buat timpal template bootstrapnya, misalnya ukuran/warna/card gitu */

body {
    color: var(--white)!important;
    /* ini gw set semua font defaultnya putih yaa buat info kalo di bg putih fontnya ga keliatan :D */
}


/* navbar */

nav {
    background-color: var(--black)!important; 
    padding: 24px 100px !important;
}

.navbar-nav {
    gap: 20px;
}

#login-btn, #register-btn{ /* login sama register di navbar */
    background-color: var(--white);
    color: var(--lavender);
    font-weight: 800;
    border-radius: 8px;
    width: 111px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}


/* Hero */

#letsvote {
    /* semua yg button lets vote gw setnya gini yaa kalo pake idnya */
    background-color: var(--lavender);
    color: var(--white);
    padding: 16px 24px;
    font-weight: 800;
    font-size: 18pt;
}

.hero, .competition {
    height:80vh !important;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 64pt !important;
    font-weight: 800 !important;
    text-align: center;
    z-index: 1;
}

/* z-index biar pas layarnya kecil, ellipse nya ga nutup tulisannya */
.hero p {
    font-size: 24pt !important;
    z-index: -1;
}

#ellipse1 {
    position: absolute;
    width: 413.57px;
    height: 400px;
    left: -150px;
    top: 300px;
    z-index: -1;
}

#ellipse2 {
    position: absolute;
    width: 146.95px;
    height: 142.13px;
    left: 1100px;
    top: 200px;
    z-index: -1;
}

#triangle1 {
    position: absolute;
    width: 109px;
    height: 120px;
    left: 257.16px;
    top: 649px;
    z-index: -1;
}

#triangle2 {
    position: absolute;
    width: 670.53px;
    height: 713.02px;
    left: 1050px;
    top: 364px;
    z-index: -1;
}


/* Competition */

h3 {
    font-size: 32pt !important;
    font-weight: 800 !important;
    z-index: 1;
}

#category-btn {
    padding: 14px 16px;
    background-color: var(--lavender);
    color: var(--white);
    border-radius: 10px;
    font-size: 12pt;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;
    gap: 38px;
    background: radial-gradient(99.53% 99.53% at 6.04% 9.12%, rgba(255, 255, 255, 0.27) 0%, rgba(255, 255, 255, 0) 100%);
    border-style: outset;
    border-width: 1px;
    border-color: var(--white);
    border-radius: 30px;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 80px;
}


/* Drawing Competition */

.drawing-comp {
    height:80vh !important;
    width: 1440px !important;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

h2 {
    font-size: 48pt !important;
    font-weight: 800 !important;
}

.card-drawing {
    width: 350px;
    height: 450px;
    border-style: outset;
    border-width: 1px;
    border-color: var(--white);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}

#drawing-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.card-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-body-drawing {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px;
}

h4, h5 {
    
}