:root{
  font-family: 'Plus Jakarta Text' !important;
}
.detail-title{
  color: white;
}
.row{
  display: flex;
  justify-items: center;
}

.detail-view{
  display:flex !important;
  align-content: center !important;
  width : 100% !important;
}

.details{
  color: white;
  gap: 0.2rem;
}
.view-box{
  width: 20% !important;

}

.up-view-box{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.add-button {
  padding: 14px 16px;
  background-color: var(--lavender) !important;
  color: var(--white);
  border: none;
  border-radius: 10px;
  font-size: 12pt !important;
  margin: 1.2rem 0 2rem 0;
}

.card-category {
  font-size: medium;
  opacity: 75%;

}

.card-title {
  font-size: xx-large;

}

.card-creator {
  font-size: medium;
}

.card-desc {
  font-size: small;
}

.group-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}